.intro-words {
  opacity: 1 !important;
  font-weight: 1000px;
  position: relative;
  top: 35%;
  text-align: justify;
  margin-left: 15%;
}
.intro-backdrop {
  background-image: url("../images/workspace1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  height: 600px;
}
.section2 {
  width: 100%;
  position: relative;
  top: 25%;
  text-align: justify;
}
#sec2id {
  background-color: #d8bfd8;
  height: 600px;
}
img {
  height: 450px;
  position: absolute;
  margin-left: 8%;
  margin-top: -5%;
}
#sec3id {
  background-color: #b785b7;
  height: 600px;
  color: #362036;
}
.section3 {
  width: 100%;
  position: relative;
  top: 25%;
  text-align: justify;
  text-emphasis-color: #000000;
}
#design pic {
  height: 450px;
  position: absolute;
  margin-left: 8%;
  margin-top: -5%;
}
#sec4id {
  background-color: #d8bfd8;
  height: 200px;
  color: #000000;
  margin-top: -1%;
}
.section4 {
  position: relative;
  top: 25%;
  text-align: justify;
  margin-left: 10%;
}
@media only screen and (max-width: 600px) {
  img {
    height: 150px;
    top: 25%;
  }
  .section2 {
    height: 100px;
    top: 6%;
  }
  #sec2id {
    height: 1100px;
  }
  .section3 {
    height: 100px;
    top: 6%;
  }
  #sec3id {
    height: 1200px;
  }
  .intro-backdrop {
    height: 800px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 930px) {
  img {
    height: 250px;
    top: 25%;
  }
  .section2 {
    height: 20px;
    top: 20%;
  }
  #sec2id {
    height: 600px;
  }
  .section3 {
    height: 150px;
    top: 15%;
  }
  #sec3id {
    height: 600px;
  }
  .intro-backdrop {
    height: 600px;
  }
}
span {
  background-color: #b785b7;
}
